* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */

.logo {
    font-size: 25px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: white;
}

nav ul {
    display: flex; /* ini yang bikin jadi ke samping */
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* HERO */

.hero {
    position: relative;
    height: 100vh;
    background: url('image/besi.webp') no-repeat center/cover;
    display: flex;
    align-items: center;
    padding: 50px;
    color: white;
    padding: 50px 80px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.hero-text {
    position: relative;
    z-index: 1;
    max-width: 500px;
    width: 50%;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 700;
}



/* tombol */
.hero button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

/* PRODUK */
.products {
    padding: 60px;
    text-align: center;
}

.products h2 {
    margin-bottom: 40px;
    font-size: 28px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    text-align: left;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 15px;
}

.card p {
    margin: 0 15px 15px;
    font-weight: bold;
}

/* hover effect */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
}

